<div id="manageChaptersContainer">
    <!-- titre -->
    <h3 class="pastel-blue">Gestion des chapitres</h3>
    <!-- Sous-titre -->
    <p class="pastel-blue">Saisir pour filtrer</p>
    <!-- search bar -->
    <div class="searchBarContainer">
        <div class="searchBarInputContainer">
            <input id="chapterSearchInput" type="text" class="searchBarInput">
        </div>
        <div id="chaptersSearchButton" title="Ajouter un chapitre" class="iconSearchBarContainer pastel-green-bg">
            <i class="fas fa-edit pastel-deepblue searchIcon"></i>
            <!-- <span class="tooltiptext">Ajouter un chapitre</span> -->
        </div>
    </div>
    <!-- Titre d'info de table -->
    <p class="pastel-blue m-t-15">Cliquer sur le contenu pour l'éditer</p>
    <!-- Table -->
    <div class="dataTableContainer">
        <table id="chaptersTable" class="dataTable">
            <!-- En-tête de table -->
            <thead class="dataTableHead">
                <tr>
                    <th>Titre du chapitre</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <!-- Corps de table -->
            <tbody id="chaptersDataTableBody" class="dataTableBody">
                <!-- ligne unitaire -->
                <!-- <tr class="dataTableRow">
                    <td style="">Titre</td>
                    <td style="display:flex; align-items:center;"><div class="action-btn edit-btn"><i class="far fa-edit"></i></div><div class="action-btn delete-btn"><i class="far fa-trash-alt"></i></div></td>
                </tr> -->
            </tbody>
        </table>
    </div>
</div>