<div id="manageCommentsContainer">
    <!-- titre -->
    <h3 class="pastel-green">Gestion des chapitres</h3>
    <!-- Sous-titre -->
    <p class="pastel-green">Liste des commentaires reportés</p>
    <!-- Table -->
    <div class="dataTableContainer">
        <table id="commentsTable" class="dataTable">
            <!-- En-tête de table -->
            <thead class="dataTableHead">
                <tr>
                    <th>Date du report</th>
                </tr>
            </thead>
            <!-- Corps de table -->
            <tbody id="commentsDataTableBody" class="dataTableBody">
                <!-- ligne unitaire -->
                <!-- <tr class="dataTableRow">
                    <td>Titre</td>
                </tr> -->
            </tbody>
            
        </table>
    </div>
</div>