<div id="manageCommentsContainer">
    <!-- titre -->
    <div id="refreshTableContainer">
        <h3 class="pastel-green">Gestion des commentaires</h3>
        <div id="refreshManageCommentsTableBtn"><i id="refreshCommentsIcon" class="fas fa-sync-alt"></i></div>
    </div>
    <!-- Sous-titre -->
    
    <!-- Rectangular switch -->
    <div id="modeContainer">
        <p id="CommentSubtitle" class="pastel-green">Tous les commentaires</p>
        <label class="switch">
            <input id="commentsModeSwitch" type="checkbox">
            <span class="slider"></span>
        </label>
    </div>
    
    <!-- Table -->
    <div class="dataTableContainer">
        <table id="commentsTable" class="dataTable">
            <!-- En-tête de table -->
            <thead class="dataTableHead">
                <tr>
                    <th>Auteur</th>
                    <th>Date de publication</th>
                    <th>Action</th>
                </tr>
            </thead>
            <!-- Corps de table -->
            <tbody id="commentsDataTableBody" class="dataTableBody">
                <!-- ligne unitaire -->
                <!-- <tr class="dataTableRow">
                    <td>Titre</td>
                    <td>Titre</td>
                    <td>Titre</td>
                </tr> -->
            </tbody>
            
        </table>

    </div>
</div>