html, body {
    width:100%;height:100%;
    background:rgb(23, 22, 43);
}
body  {
    /* position:fixed; */
}
#pageContainer {
    width:100%;height:100%;
    display:flex;align-items:center;justify-content:space-around;
}
#masterContainer {
    width:150px; height:100%;
    background:rgb(40, 39, 70);
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}
#detailsContainer {
    width:calc(100% - 150px); height:100%;
    max-height:100%;
    overflow-y:scroll;
    background:transparent;
    display:flex;
    align-items:center;justify-content:center;
}
/**
* PASTEL COLORS
*/
.pastel-red {
    color:rgb(255, 117, 117);
}
.pastel-blue {
    color:rgb(151, 221, 253);
}
.pastel-green {
    color:rgb(177, 252, 181);
}
.pastel-deepblue {
    color:rgb(23, 22, 43);
}
/* background */
.pastel-red-bg {
    background:rgb(255, 117, 117);
}
.pastel-blue-bg {
    background:rgb(151, 221, 253);
}
.pastel-green-bg {
    background:rgb(177, 252, 181);
}
.pastel-deepblue-bg {
    background:rgb(23, 22, 43);
}
/**
* SEARCH BAR width 60%
*/
.searchBarContainer {
    width:60%; height:50px;
    display:flex;
    align-items:center;justify-content:center;
}
.searchBarInputContainer {
    width:80%;height:100%;
}
.iconSearchBarContainer {
    width:20%; min-height:100%;
    display:flex;align-items:center;justify-content:center;
    transition:all 0.5s ease;
    font-size:20px;
}
.iconSearchBarContainer:hover {
    cursor:pointer;
    opacity:0.5;
}
.searchBarInput {
    width:100%; height:100%;
}
/**
* TABLE width 60%;
*/
.dataTableContainer {
    width:60%;
    margin-top:15px;
}
.dataTable {
    width:100%;
}
.dataTableHead {
    background:rgb(228, 228, 228);
    text-align:center;
}
.dataTableBody {
    background:white;
    text-align:center;
}
.dataTableRowClassic {
    height:30px;
}
.dataTableRow {
    height:30px;
    transition:all 0.25s ease;
}
.dataTableRow:hover {
    cursor:pointer;
    background:rgb(228, 228, 228);
}

/**
* COMMON
*/
.m-t-15 {
    margin-top:15px;
}