#manageChaptersContainer {
    width:100%;
    display:none;
    transition:all 0.5s ease;
}
#chapterSearchInput {
    border:none;
}
.action-btn {
    width:50%; height:100%;
    /* border:1px solid black; */
    /* background:red; */
}
.action-btn:hover {
    cursor:pointer;
    transition: all .33s ease;
}
