<div id="editChapterModal">
    <header id="editChapterModalHeader" class="modalHeaderContainer">
        <i class="fas fa-arrow-up"></i>
    </header>
    <section class="modalContentContainer">
        <h3 class="pastel-deepblue">Edition d'un chapitre</h3>
        <p>Titre</p>
        <input type="text" id="editChapterModalTitleInput">
        <p>Contenu</p>
        <textarea id="editChapterModalContentInput"></textarea>
        <div id="editChapterSubmitBtn">Mettre à jour</div>
    </section>
</div>