<div class="modal fade" id="showCommentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Suppresion d'un commentaire</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="" class="modal-body">
            <h4>Date de publication</h4>
            <p id="contextCommentDate">20980-87-56</p>
            <h4>Auteur</h4>
            <p id="contextCommentAuthor">Dominique LAURENT</p>
            <h4>Contenu</h4>
            <p id="contextCommentContent">Dominique LAURENT</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="onValidateComment">Approuver</button>
                <button type="button" class="btn btn-danger" id="onDeleteComment">Supprimer</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
            </div>
        </div>
    </div>
</div>