<div id="writeChapterModal">
    <header id="writeChapterModalHeader" class="modalHeaderContainer">
        <i class="fas fa-arrow-up"></i>
    </header>
    <section class="modalContentContainer">
        <h3 class="pastel-deepblue">Ecrire un nouveau chapitre</h3>
        <p>Titre</p>
        <input type="text" id="writeChapterModalTitleInput">
        <p>Contenu</p>
        <textarea id="writeChapterModalContentInput"></textarea>
        <div id="writeChapterSubmitBtn">Poster</div>
    </section>
</div>