html {
    width:100%; height:100%;
}
body {
    width:100%; height:100%;
    background: url("../../src/img/alaska_moutains.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment: fixed;
}
#pageContainer {
    z-index:1;
    width:100%; height:100%;
    
}

/** FOR COMMON */
.iced {
    background:rgba(197,204,215,1);
    transition:all 0.5 ease;
}
.iced:hover {
    background:grey;
}