<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Jean Forteroche</title>
    <link rel="stylesheet" href="../../lib/css/bootstrap.css">
    <link rel="stylesheet" href="../../src/css/common-blog.css">
    <link rel="stylesheet" href="../view/about/about.css">
    <script src="../../lib/js/jquery.js"></script>
    <script src="../../lib/js/bootstrap.js"></script>
    <script src="../../lib/js/bootstrap.bundle.js"></script>
    <script src="../view/about/about.js"></script>
</head>
<body>
<div id="pageContainer">
    <!-- Partie sur le menu -->
    <nav id="headerContainer">
        <div id="menuContainer">
            <div class="menu-item">
                <a href="./livre.php" class="menu-text">Le livre</a></p>
            </div>
            <div class="menu-item">
                <a href="#" class="menu-text">L'auteur</a></p>
            </div>
            <div class="menu-item">
                <a href="./contact.php" class="menu-text">Le contact</a></p>
            </div>
        </div>
    </nav>

    <section id="banniereContainer">
        <div id="aboutContainer">
            <header id="headerAboutContainer">
                <div id="leftHeaderAboutContainer">
                    <div id="jeanForterocheImg"></div>
                </div>
                <div id="rightHeaderAboutContainer">
                    <h1>L'auteur</h1>
                    <p>Tiramisu ice cream fruitcake jelly beans. Macaroon soufflé chocolate bar bear claw fruitcake. Wafer jujubes muffin liquorice gummies cheesecake cake donut sugar plum. Soufflé donut sweet roll liquorice tootsie roll jujubes caramels donut ice cream. Bonbon cake carrot cake soufflé bear claw gingerbread cheesecake. Gingerbread lemon drops danish. Lollipop marzipan gummi bears pudding. Cookie liquorice sesame snaps chupa chups muffin liquorice. Croissant pastry brownie cotton candy lollipop sweet roll macaroon ice cream. Bonbon caramels jelly beans candy canes cookie lemon drops. Ice cream cheesecake pie sweet roll wafer gingerbread dessert marshmallow ice cream. Jelly-o sweet roll brownie. Jelly beans marzipan cake muffin wafer donut icing marshmallow.</p>
                </div>
            </header>
            <section id="corpusAboutContainer">
                <div id="corpusQuoteContainer">
                    <div class="quote-left" style="">
                        <h1>"Jean Forteroche possède une plume qu'on ne trouve sur aucun oiseau."</h1>
                        <h3 style="text-align:right;">Télérama</h3>
                    <div>
                    <div class="quote-left">
                        <h1>"John ? Je veux dire Jean ? Il est aware tu vois !<br>Partir comme ça en Alaska c'est amazing tu vois !"</h1>
                        <h3 style="text-align:right;">Jean-Claude Van Damme</h3>
                    <div>
                </div>
            </section>
        </div>
    </section>
</div>
</body>
</html>